doctype html
html(ng-app='climan')
  head
    title climan
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/angular-ui-notification/dist/angular-ui-notification.min.css')
    
  body
    
    #main-content(ui-view)

    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angular-ui-mask/dist/mask.min.js')
    script(src='/vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/vendor/angular-ui-notification/dist/angular-ui-notification.min.js')
    
    script(src='/javascripts/climan/app.js')
    script(src='/javascripts/climan/controllers/ClientsController.js')
    script(src='/javascripts/climan/services/ClientsEngineService.js')
