@import url(https://fonts.googleapis.com/css?family=Vollkorn);

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-size: 1em;
  font-family: 'Vollkorn', sans-serif, serif;
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
}

hr {
  clear: both;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

nav#top-menu {
  padding: 2em;
  color: #f2f2f2;
  background-color: #323242;
  transition: background-color 0.25s linear;
}

nav#top-menu.invalid {
  background-color: #823232;
}

nav#top-menu h1 {
  position: absolute;
  font-size: 4em;
  top: -0.5em;
}

nav#top-menu h2 {
  position: absolute;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
}

nav#top-menu input#cpf {
  display: block;
  margin : 0 auto;
}

nav#top-menu input[type="text"] {
  padding: 7px 36px 7px 36px;
  border: solid 5px #c9c9c9;
  border-radius: 250px;
  transition: border 0.3s;
  font-size: 2em;
  text-align: center;
}

nav#top-menu input[type="text"]:focus, input[type="text"].focus {
  border: solid 5px #969696;
  border-radius: 250px;
}

textarea:focus, input:focus {
  outline: 0;
}

label {
  display: inline-block;
  text-align: right;
  width: 200px;
  margin: 0 12px 0 0;
}

label.phone {
  width: 110px;
  margin: 0 12px 0 0;
  font-family: 'Vollkorn', sans-serif, serif;
}

div.right {
  float: right;
  width: 100%;
}

div.center {
  margin: auto;
}

div.center.form {
  width: 400px;
}

div#phone-numbers-buttons {
  width: 100%;
  height: 24px;
}

.pointer {
  cursor: pointer;
}

.button, input.button {
  color: #fff;
  cursor: pointer;
  background: #323242;
  text-decoration: none;
  -webkit-user-select: none;
  padding: 0 8px 0 8px;
  border-radius: 7px;
  user-select: none;
  float: right;
  margin: 14px;
  border: none;
}

input#save {
  padding: 0 8px 0 8px;
  font-size: 1em;
  font-family: 'Vollkorn', sans-serif, serif;
}

.button.green {
  background: #437343;
}

.button.red {
  background: #734343;
}

.button:hover {
  background: #585664;
  text-decoration: none;
}

.button:hover.green {
  background: #639363;
  text-decoration: none;
}

.button:hover.red {
  background: #966363;
  text-decoration: none;
}

.button.disabled {
  background: #545250;
}

.button.disabled:hover {
  background: #545250;
}

@media screen and (max-width: 1023px) {

  nav#top-menu h1 {
    display: none;
  }
}
